/*Final tags*/
html{
	height: 100%;
}

body {
	position: relative;
	padding-bottom: 80px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/*Diffrent style classes*/

.verticalButton
{
    vertical-align: middle;
}

.marginform {
	margin-top: 15%;
}

.marginformheading {
	margin: 50px;
}

.maxwidth {
	width: 80%;
	max-width: 400px;
	margin-bottom: 1.5em;
}

.maxwidthandmargintop {
	width: 80%;
	max-width: 400px;
	margin-bottom: 1.5em;
	margin-top: 2em;
}

.borderform {
	
	border-radius: 10px;
	border: 1px solid;
	padding-bottom: 70px;
	padding-top: 70px;
	margin-left: 50px;

}

.headingfont{
	font-size: 4.5em;
	color: #ff0000;
	margin-top: 0.5em;
	font-family: arial black;
}

/*List styles*/
.lismallwidth {
	width: 50%;
}

li {
	list-style-type: none;
}
 /*Footer*/

.footer {
    position: absolute;
    height: 100px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding-top: 100px;
}

/*Buttons*/

.buttonWidth {	
	width: 32.8%;
}

/*Carousel*/


.navbarstyle {
	background-color: white;
	height: 70px;
	font-size: 20px;
}

.navbarMod {
	margin-top: -1em;
}

/*Front divs*/

.frontDiv {

}

.imgfrontdiv {
	margin-top: 2.0em;
	margin-left: 25%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 70px;
  max-height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 150px;
  max-height: 500px;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
}
/* MARKETING CONTENT
-------------------------------------------------- 

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#slides_control > div{
  height: 200px;
}

#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
