/*Final tags*/
html{
	height: 100%;
}

body {
	position: relative;
	padding-bottom: 80px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/*Diffrent style classes*/

.verticalButton
{
    vertical-align: middle;
}

.marginform {
	margin-top: 15%;
}

.marginformheading {
	margin: 50px;
}

.maxwidth {
	width: 80%;
	max-width: 400px;
	margin-bottom: 1.5em;
}

.maxwidthandmargintop {
	width: 80%;
	max-width: 400px;
	margin-bottom: 1.5em;
	margin-top: 2em;
}

.borderform {
	
	border-radius: 10px;
	border: 1px solid;
	padding-bottom: 70px;
	padding-top: 70px;
	margin-left: 50px;

}

.headingfont{
	font-size: 4.5em;
	color: #ff0000;
	margin-top: 0.5em;
	font-family: arial black;
}

/*List styles*/
.lismallwidth {
	width: 50%;
}

li {
	list-style-type: none;
}
 /*Footer*/

.footer {
    position: absolute;
    height: 80px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding-top: 0px;
}

/*Buttons*/

.buttonWidth {
	width: 32.8%;
}

.carouselmaxsize {
	max-height: 500px;
}